.venv/**
palet.egg-info/**
dist/**
build/**
palet/__pycache__/**
.vscode/**
README copy.md
palet.code-workspace
**/*.pyc
misc/DDL/**
misc/**
palet/__pycache__/Palet.cpython-39.pyc
palet/__pycache__/Article.cpython-39.pyc
.gitignore
junk/test.py
junk/test.py
val.bat
palet/PaletWikiTest/**
